@use "./variables";

/* Mixins */
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin centerFlex($direction) {
  @include flex($direction);

  align-items: center;
  justify-content: center;
}

@mixin padding-y($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin padding-x($value) {
  padding-left: $value;
  padding-bottom: $value;
}

@mixin addShadow($blur, $color) {
  box-shadow: 4px 6px $blur $color;
}

@mixin avatar($size) {
  width: $size;
  height: $size;
  border-radius: 100%;
}

@mixin glass($blur, $color, $opacity) {
  backdrop-filter: blur($blur);
  background-color: $color / $opacity;
}
