/* Variables */

// Colors
$bg-light: #f4fdff;
$bg-dark: #2b272f;
$text-light: #5c4c6a;
$text-dark: #fff6fa;
$shadow-dark: #fcfcfc;
$comment-dark: #cfc4c7;
$comment-light: #edf3fc;

// Sizings and scales
$primary-size: 16px;
