:root {
  --blue: #021030;
  --bg: #050e18;
  --form: #00091f;
  --shadow: #0030a9;
  --text: #02ac02;
  --input: #81abff;
  --dark: #000105;
  --btn-border: #00e81b;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

input {
  border: none;
  outline: none;
}
