@use "../../common";

.logo {
  @include common.flex(column);
  align-items: center;

  margin-top: 1.2rem;

  .image {
    width: 120px;
  }

  .name {
    color: common.$text-light;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Bebas Neue";
    letter-spacing: 0.25em;
  }
}
