@use "../../common";

@import "./logo";
@import "./item";
@import "./button";

.sidebar {
  @include common.addShadow(36px, #d4d4d4);

  position: absolute;

  min-height: 100%;

  transition-duration: 0.4s;
  transition-property: width;
  transition-timing-function: ease-in-out;

  // overflow-x: hidden;

  #{&}-background {
    @include common.flex(column);
    justify-content: space-between;

    height: 100%;
    overflow-y: hidden;
  }

  #{&}-contents {
    @include common.flex(column);

    backdrop-filter: blur(26px);
    background-color: rgba(200, 225, 255, 0.3);

    height: 100%;
    padding: common.$primary-size;
    overflow-x: visible;
  }

  & > section {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.items {
  @include common.flex(column);
  row-gap: 2rem;

  padding: common.$primary-size;
}

/* Extra small */
@media only screen and (max-width: 600px) {
  .sidebar {
    width: 6em;
  }

  // On extra small screens items are gone, on non-expanded sidebar
  .items {
    display: none;
  }

  // But on expanded sidebar, items are present
  .expanded-sidebar {
    .items {
      @include common.flex(column);
      row-gap: 2rem;
    }
  }
}

/* Small */
@media only screen and (min-width: 600px) {
  .sidebar {
    width: 8em;
  }

  // Starting from at least 600px wided screens, items are back
  .items {
    @include common.flex(column);
    row-gap: 2rem;
  }
}

/* Medium */
@media only screen and (min-width: 768px) {
  .sidebar {
    width: 10em;
  }
}

/* Large */
@media only screen and (min-width: 992px) {
  .sidebar {
    width: 12em;
  }
}

/* Extra large */
@media only screen and (min-width: 1200px) {
  .sidebar {
    width: 14em;
  }
}

.expanded-sidebar {
  width: 20em;

  .sidebar-item {
    justify-content: space-between;
  }

  .item-title {
    display: block;
    transform: scale(1);

    font-size: 1.4rem;
    font-weight: 800;
    font-family: "Open Sans";
  }
}
